// Copyright (c) Howard Kapustein
// Licensed under the MIT License. See LICENSE in the project root for license information.

#include <winresrc.h>

#define MSIXCLI_FILENAME        "MSIXAdmin.exe"
#define MSIXCLI_PRODUCT_NAME    "MSIX Admin"
#include "Version.h"
