// Copyright (C) Howard Kapustein. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.

#include <Windows.h>
#include <commctrl.h>

#include "resource.h"

#define MSIXCLI_FILENAME        "MSIXPropertySheet.dll"
#define MSIXCLI_PRODUCT_NAME    "MSIX Property Sheet"
#include "VersionInfo.ver"

ID_ICON    ICON "MSIXPropertySheet.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_MSIX_PROPPAGE DIALOGEX 0, 0, 252, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "MSIX"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    // Identity
    LTEXT       "File:",                    IDC_STATIC,                       7,   9,  78,  8
    EDITTEXT                                IDC_FILE_PATH,                   88,   6, 157, 14,  ES_AUTOHSCROLL | ES_READONLY | WS_TABSTOP
    LTEXT       "Package Full Name:",       IDC_STATIC,                       7,  27,  78,  8
    EDITTEXT                                IDC_PACKAGE_FULL_NAME,           88,  27, 157,  8,  ES_AUTOHSCROLL | NOT WS_BORDER
    LTEXT       "Package Family Name:",     IDC_STATIC,                       7,  39,  78,  8
    EDITTEXT                                IDC_PACKAGE_FAMILY_NAME,         88,  39, 157,  8,  ES_AUTOHSCROLL | NOT WS_BORDER

    CONTROL     "", IDC_STATIC, "Static", SS_ETCHEDHORZ,                      7,  51, 238,  1

    LTEXT       "Package Origin:",          IDC_PACKAGEORIGIN_LABEL,          7,  56,  78,  8
    EDITTEXT                                IDC_PACKAGEORIGIN,               88,  56, 100,  8,  ES_AUTOHSCROLL | NOT WS_BORDER
    PUSHBUTTON  "&Certificate...",          IDC_CERTIFICATE,                195,  53,  50, 14,  BS_DEFPUSHBUTTON | WS_TABSTOP
    LTEXT       "Staged",                   IDC_IS_STAGED,                    7,  70,  38, 10,  SS_OWNERDRAW
    LTEXT       "Registered",               IDC_IS_REGISTERED,               49,  70,  54, 10,  SS_OWNERDRAW
    LTEXT       "Remove[Pending]",          IDC_IS_REMOVE_PENDING,          107,  70,  82, 10,  SS_OWNERDRAW
    PUSHBUTTON  "Remove",                   IDC_UNINSTALL,                  195,  68,  50, 14,  WS_TABSTOP

    CONTROL     "", IDC_STATIC, "Static", SS_ETCHEDHORZ,                      7,  84, 238,  1

    // Package information
    LTEXT       "Signature Origin:",        IDC_STATIC,                       7,  89,  78,  8
    EDITTEXT                                IDC_SIGNATURE_ORIGIN,            88,  89, 157,  8,  ES_AUTOHSCROLL | NOT WS_BORDER
    LTEXT       "Uncompressed Size:",       IDC_STATIC,                       7, 101,  78,  8
    EDITTEXT                                IDC_FILE_UNCOMPRESSED_SIZE,      88, 101, 157,  8,  ES_AUTOHSCROLL | NOT WS_BORDER
    LTEXT       "Compressed Footprint:",    IDC_STATIC,                       7, 113,  78,  8
    EDITTEXT                                IDC_FOOTPRINT_COMPRESSED_SIZE,   88, 113, 157,  8,  ES_AUTOHSCROLL | NOT WS_BORDER
    LTEXT       "Compressed Payload:",      IDC_STATIC,                       7, 125,  78,  8
    EDITTEXT                                IDC_PAYLOAD_COMPRESSED_SIZE,     88, 125, 157,  8,  ES_AUTOHSCROLL | NOT WS_BORDER

    CONTROL     "", IDC_STATIC, "Static", SS_ETCHEDHORZ,                      7, 137, 238,  1

    AUTOCHECKBOX  "&Allow unsigned",            IDC_ALLOWUNSIGNED,            7, 140,  70, 10
    AUTOCHECKBOX  "&Defer while in use",        IDC_DEFERWHILEINUSE,        120, 140,  80, 10
    AUTOCHECKBOX  "Developer &mode",            IDC_DEVELOPERMODE,            7, 152,  72, 10
    AUTOCHECKBOX  "&Force",                     IDC_FORCE,                  120, 152,  42, 10
    AUTOCHECKBOX  "&Limit to existing packages",IDC_LIMITTOEXISTINGPACKAGES,  7, 164, 110, 10
    AUTOCHECKBOX  "Re&tain files on failure",   IDC_RETAINFILESONFAILURE,   120, 164,  98, 10
    AUTOCHECKBOX  "&External Location",         IDC_EXTERNAL,                 7, 178,  80, 10
    EDITTEXT                                    IDC_EXTERNAL_PATH,           90, 176, 155, 14,  ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT         "&Priority:",                 IDC_PRIORITY_LABEL,           7, 194,  26,  8
    COMBOBOX                                    IDC_PRIORITY,                37, 192,  50, 60,  CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT         "&Volume:",                   IDC_VOLUME_LABEL,            91, 194,  26,  8
    COMBOBOX                                    IDC_VOLUME,                 119, 192, 126, 60,  CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    ICON          "HomeIcon",                   IDI_ICON,                     7, 217,  32, 32
    CONTROL       IDC_HOME_LABEL, IDC_HOME, "SysLink", WS_TABSTOP,           31, 229, 106, 14
    COMBOBOX                                    IDC_INSTALLACTION,          140, 229,  50, 60,  CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON    "&Install",                   IDC_INSTALL,                195, 229,  50, 14,  BS_DEFPUSHBUTTON | WS_TABSTOP
END

// [Add certificate]
// is registered [Install/Add] [Stage] [Provision]
// is pending registration

STRINGTABLE
BEGIN
    IDC_FILE_PATH                       "Full path to the MSIX package file"
    IDC_PACKAGE_FULL_NAME               "The package full name: Name_Version_Architecture_ResourceId_PublisherId"
    IDC_PACKAGE_FAMILY_NAME             "The package family name: Name_PublisherId"

    IDC_IS_STAGED                       "The package is staged"
    IDC_IS_REGISTERED                   "The package is registered"
    IDC_IS_REMOVE_PENDING               "Package removal is pending"

    IDC_SIGNATURE_ORIGIN                "Origin of the MSIX package's signing"
    IDC_COMPRESSED_LABEL                "Size of the data as stored (compressed) in the package"
    IDC_UNCOMPRESSED_LABEL              "Size of the data after extraction (uncompressed)"
    IDC_SIZE_LABEL                      "Size of the package file"
    IDC_FILE_COMPRESSED_SIZE            "Compressed (on-disk) size of the package file"
    IDC_FILE_UNCOMPRESSED_SIZE          "Uncompressed size of the package's contents (excluding block map and signature)"
    IDC_FOOTPRINT_LABEL                 "Size of the package footprint files (manifest, block map, signature, etc.)"
    IDC_FOOTPRINT_COMPRESSED_SIZE       "Compressed size of the package footprint files (manifest, block map, signature, etc.)"
    IDC_FOOTPRINT_UNCOMPRESSED_SIZE     "Uncompressed size of the package footprint files"
    IDC_PAYLOAD_LABEL                   "Size of all payload files in the package"
    IDC_PAYLOAD_COMPRESSED_SIZE         "Compressed size of all payload files"
    IDC_PAYLOAD_UNCOMPRESSED_SIZE       "Uncompressed size of all payload files"

    IDC_FORCE                           "Force running processes using the package to shut down so the package can be installed"
    IDC_DEFERWHILEINUSE                 "Defer registration while the package's files are in use, applying it at next available opportunity (worst case at next logon)"
    IDC_DEVELOPERMODE                   "Install in developer mode (requires Developer Mode in Settings to be enabled)"
    IDC_ALLOWUNSIGNED                   "Allow installing a package that is not signed"
    IDC_RETAINFILESONFAILURE            "Retain staged files if the installation fails"
    IDC_LIMITTOEXISTINGPACKAGES         "Limit the operation to updating existing packages only (do not add a new package)"
    IDC_VOLUME_LABEL                    "Target volume where the package will be installed"
    IDC_VOLUME                          "Target volume where the package will be installed"
    IDC_PRIORITY_LABEL                  "Priority of the deployment operation"
    IDC_PRIORITY                        "Priority of the deployment operation: Low, Default, or High"
    IDC_EXTERNAL                        "Install the package using content stored at an external location"
    IDC_EXTERNAL_PATH                   "Path or URI to the package's external content"

    IDC_CERTIFICATE                     "Show certificate information"
    IDC_INSTALLACTION                   "Choose whether to Add (install) or Stage the package"
    IDC_INSTALL                         "Perform the selected action (Add or Stage) using the options selected above"

    IDC_CERTIFICATE_SUBJECT             "The package's signing certificate's Subject"
    IDC_CERTIFICATE_THUMBPRINT          "The package's signing certificate's thumbprint"

    IDC_CERTIFICATE_CHECK_STATUS        "Check if the certificate is in the Trusted People certificate store"
    IDC_CERTIFICATE_ADD                 "Add the certificate to the Trusted People certificate store"
    IDC_CERTIFICATE_REMOVE              "Remove the certificate from the Trusted People certificate store"
END

IDD_MSIX_CERTIFICATE DIALOGEX 0, 0, 425, 200
STYLE DS_MODALFRAME | DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MSIX Signing"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    // Identity
    LTEXT       "File:",                    IDC_STATIC,                       7,   9,  78,  8
    EDITTEXT                                IDC_FILE_PATH,                   88,   7, 320, 14,  ES_AUTOHSCROLL | ES_READONLY | WS_TABSTOP
    LTEXT       "Package Full Name:",       IDC_STATIC,                       7,  27,  78,  8
    EDITTEXT                                IDC_PACKAGE_FULL_NAME,           88,  27, 320,  8,  ES_AUTOHSCROLL | NOT WS_BORDER
    LTEXT       "Package Family Name:",     IDC_STATIC,                       7,  39,  78,  8
    EDITTEXT                                IDC_PACKAGE_FAMILY_NAME,         88,  39, 320,  8,  ES_AUTOHSCROLL | NOT WS_BORDER

    CONTROL     "", IDC_STATIC, "Static", SS_ETCHEDHORZ,                      7,  51, 411,  1

    LTEXT       "Signature Origin:",        IDC_STATIC,                       7,  56,  78,  8
    EDITTEXT                                IDC_SIGNATURE_ORIGIN,            88,  56, 330,  8,  ES_AUTOHSCROLL | NOT WS_BORDER
    LTEXT       "Subject:",                 IDC_STATIC,                       7,  70,  78,  8
    EDITTEXT                                IDC_CERTIFICATE_SUBJECT,         88,  70, 330, 14,  ES_AUTOHSCROLL | NOT WS_BORDER
    LTEXT       "Issuer:",                  IDC_STATIC,                       7,  84,  78,  8
    EDITTEXT                                IDC_CERTIFICATE_ISSUER,          88,  84, 330, 14,  ES_AUTOHSCROLL | NOT WS_BORDER
    LTEXT       "Thumbprint:",              IDC_STATIC,                       7,  98,  78,  8
    EDITTEXT                                IDC_CERTIFICATE_THUMBPRINT,      88,  98, 330, 14,  ES_AUTOHSCROLL | NOT WS_BORDER
    LTEXT       "Valid:",                   IDC_STATIC,                       7, 112,  30,  8
    LTEXT       "Expired",                  IDC_CERTIFICATE_VALID_STATUS,    34, 112,  50, 10,  SS_OWNERDRAW
    EDITTEXT                                IDC_CERTIFICATE_VALID,           88, 112, 330, 14,  ES_AUTOHSCROLL | NOT WS_BORDER
    LTEXT       "Status:",                  IDC_STATIC,                       7, 126,  78,  8
    EDITTEXT                                IDC_CERTIFICATE_STATUS,          88, 126, 330, 14,  ES_AUTOHSCROLL | NOT WS_BORDER

    CONTROL     "", IDC_STATIC, "Static", SS_ETCHEDHORZ,                      7, 174, 411,  1

    PUSHBUTTON  "&Update Status",           IDC_CERTIFICATE_CHECK_STATUS,   113, 179,  80, 14,  WS_TABSTOP
    PUSHBUTTON  "&Add Certificate",         IDC_CERTIFICATE_ADD,            198, 179,  80, 14,  WS_TABSTOP
    PUSHBUTTON  "&Remove Certificate",      IDC_CERTIFICATE_REMOVE,         283, 179,  80, 14,  WS_TABSTOP
    PUSHBUTTON  "OK",                       IDC_OK,                         368, 179,  50, 14,  BS_DEFPUSHBUTTON | WS_TABSTOP
END
