// Copyright (c) Howard Kapustein
// Licensed under the MIT License. See LICENSE in the project root for license information.

#include <Windows.h>
#include <winresrc.h>
#include <commctrl.h>

#include "resource.h"

#define MSIXCLI_FILENAME        "MSIXTray.exe"
#define MSIXCLI_PRODUCT_NAME    "MSIX monitor"
#include "VersionInfo.ver"

1 ICON "msixtray.ico"

IDI_ICON   ICON "MSIXTray.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
